page-jobs {

    .scroll-content {
        background-color: #42c7ff;  
        display: flex;
        flex-direction: column;
        overflow: scroll;
      }
      .posts{
          margin-top: 30px;
          ion-card{
            border-radius: 30px !important;
            padding-left: 10px !important;
          }
      }
}
